{
    "version": "0.2.0",
    "configurations": [
        {
            "name": "Power Apps Api",
            "request": "launch",
            "type": "al",
            "environmentType": "Sandbox",
            "environmentName": "YOUR-ENVIRONMENT-NAME",
            "tenant": "YOUR-TENANT-ID-HERE",
            "startupObjectId": 22,
            "startupObjectType": "Page",
            "breakOnError": "All",
            "launchBrowser": true,
            "enableLongRunningSqlStatements": true,
            "enableSqlInformationDebugger": true,
            "schemaUpdateMode": "ForceSync"
        }
    ]
}

